.hamburger-container {
  width: 120px;
  height: 40px;
  background: #fed136;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.triple-big-boy {
  width: 30px;
  height: 25px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.layer {
  background: white;
  width: 30px;
  height: 5px;
  border-radius: 7px;
}
.menu {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .hamburger-container {
    display: none;
  }
}
