.hamburger-container {
  width: 80px;
  height: 35px;
  background: #fed136;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.triple-big-boy {
  width: 30;
  height: 12px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.layer {
  background: white;
  width: 15px;
  height: 2px;
  border-radius: 7px;
}
.menu {
  font-size: 15px;
}
@media (min-width: 992px) {
  .hamburger-container {
    display: none;
  }
}
